@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


@keyframes cf3FadeInOut {
    0% {
    opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
  }
  
  #cf3 img.top {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite ;
  animation-duration: 3s;
  animation-direction: normal;
  }

  #cf3 img.bottom {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-duration: 6s;
    animation-direction: normal;
    }

    #cf3 img.bottom2 {
        animation-name: cf3FadeInOut;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-delay: 6s;
        animation-duration: 6s;
        animation-direction: normal;
        }

  #cf3 {
    position:static;
    height:500px;
    width:200px;
    margin:0 auto;
  }
  
  #cf3 img {
    position:absolute;
    left:0%;
    width:100%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }

  
  
  