

.img-hover-zoom {
    height: 200px; /* Modify this according to your need */
    overflow: hidden; /* Removing this will break the effects */
  }


/* Quick-zoom Container */
.img-hover-zoom--quick-zoom img {
    transform-origin: 50px, 0;

    transition: transform .5s, visibility .5s ease-in; 
  }
  
  /* The Transformation */
  .img-hover-zoom--quick-zoom:hover img {
    transform: scale(1.8);
    -webkit-transform-origin-x: 250px;
  }
  /* Zoom-n-rotate Container */
.img-hover-zoom--zoom-n-rotate img {
    transition: transform 3.8s ease-in-out;
    transform-origin: 0px, 0;
  }
  
  /* The Transformation */
  .img-hover-zoom--zoom-n-rotate:hover img {
    transform: scale(1.1) rotate(12980deg);
  }

  img[data-position] {
    position: fixed;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 235px;
    margin-top: 70px;
    border: 10px dotted rgb(124, 207, 255);
  }
  img[data-position*=top]    { top: 0;    }
  img[data-position*=bottom] { bottom: 0; }
  img[data-position*=left]   { left: 0;   }
  img[data-position*=right]  { right: 0;  }